// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Dark mode colors
[data-theme="dark"] {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --link-color: #6ea8fe;
  --border-color: #404040;
  --header-bg: #2d2d2d;
}

[data-theme="light"] {
  --bg-color: #{$white};
  --text-color: #{$darkGray};
  --link-color: #{$blue};
  --border-color: #{$lightGray};
  --header-bg: #{$white};
}

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}